*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: white;
    padding-top: 0;
}
.one {
    height: 20px;
    color: orange;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-family: fantasy;
}
.pasta{
    padding-left:5%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    
}
.pasta img{
    border-radius: 70px;
    height:150px;
    width:150px;
}

.price1{
    padding-left:5%;
    color: orange;
    
}

.pasta hr{
    height: 1px;
    border: none;
    background-color:gray;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5%;
}
.price{
padding-left: 2%;
justify-content: center;
align-items: center;
padding-top: 3%;
}
h3{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;

}
.side{
    display: flex;
    flex-direction: row;
    
}
.burger{
    padding-left: 15%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    
}
.burger img{
    border-radius: 70px;
    height:150px;
    width:150px;
}
.side2{
    display: flex;
    flex-direction: row;
    
    
}
.taco{
    padding-left:5%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    
}
.taco img{
    border-radius: 70px;

    height:150px;
    width:150px;
}
.taco hr{
    height: 1px;
    border: none;
    background-color:gray;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5%;
}
.pizza{
    padding-left:15%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    
}
.pizza img{
    border-radius: 70px;
    height:150px;
    width:150px;
}
.pizza hr{
    height: 1px;
    border: none;
    background-color:gray;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5%;
}
.side3{
    display: flex;
    flex-direction: row;

}
.Noodles{
    padding-left:5%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    
}
.Noodles img{
    border-radius: 70px;
    height:150px;
    width:150px;
}
.Noodles hr{
    height: 1px;
    border: none;
    background-color:gray;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5%;
}
.sandwich{
    padding-left:15%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    
}
.sandwich img{
    border-radius: 70px;
    height:150px;
    width:150px;
}
.sandwich hr{
    height: 1px;
    border: none;
    background-color:gray;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5%;
}
.side4{
    display: flex;
    flex-direction: row;

}
.soup{
    padding-left:5%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    
}

.soup img{
    border-radius: 70px;
    height:150px;
    width:150px;
}
.soup hr{
    height: 1px;
    border: none;
    background-color:gray;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5%;
}
.Wraps{
    padding-left:15%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    
}
.Wraps img{
    border-radius: 70px;
    height:150px;
    width:150px;
}
.Wraps hr{
    height: 1px;
    border: none;
    background-color:gray;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5%;
}
.side5{
    display: flex;
    flex-direction: row;

}
.suchi{
    padding-left:5%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    
}

.suchi img{
    border-radius: 70px;
    height:150px;
    width:150px;
}
.suchi hr{
    height: 1px;
    border: none;
    background-color:gray;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5%;
}
.panipuri{
    padding-left:15%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    
}
.panipuri img{
    border-radius: 70px;
    height:150px;
    width:150px;
}
.panipuri hr{
    height: 1px;
    border: none;
    background-color:gray;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5%;
}

.click{
   padding-bottom: 5vh;
    padding-top: 5vh;
    text-align: center;
}
.click button{
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius:10px;
}
