*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: white;
    padding-top: 0;
}
.one {
    height: 20px;
    color: orange;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-family: fantasy;
}
.Masala{
    padding-left:5%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    
}
.Masala img{
    border-radius: 70px;
    height:150px;
    width:150px;
}

.price1{
    padding-left:5%;
    color: orange;
    
}

.Masala hr{
    height: 1px;
    border: none;
    background-color:gray;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5%;
}
.price{
padding-left: 2%;
justify-content: center;
align-items: center;
padding-top: 3%;
}
h3{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;

}
.side{
    display: flex;
    flex-direction: row;
    
}
.Puri{
    padding-left: 15%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    
}
.Puri img{
    border-radius: 70px;
    height:150px;
    width:150px;
}
.side2{
    display: flex;
    flex-direction: row;
    
    
}
.Upma{
    padding-left:5%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    
}
.Upma img{
    border-radius: 70px;
    height:150px;
    width:150px;
}
.Upma hr{
    height: 1px;
    border: none;
    background-color:gray;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5%;
}
.Fish{
    padding-left:15%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    
}
.Fish img{
    border-radius: 70px;
    height:150px;
    width:150px;
}
.Fish hr{
    height: 1px;
    border: none;
    background-color:gray;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5%;
}
.side3{
    display: flex;
    flex-direction: row;

}
.Thali{
    padding-left:5%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    
}
.Thali img{
    border-radius: 70px;
    height:150px;
    width:150px;
}
.Thali hr{
    height: 1px;
    border: none;
    background-color:gray;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5%;
}
.Parotta{
    padding-left:15%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    
}
.Parotta img{
    border-radius: 70px;
    height:150px;
    width:150px;
}
.Parotta hr{
    height: 1px;
    border: none;
    background-color:gray;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5%;
}
.side4{
    display: flex;
    flex-direction: row;

}
.dosa{
    padding-left:5%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    
}

.dosa img{
    border-radius: 70px;
    height:150px;
    width:150px;
}
.dosa hr{
    height: 1px;
    border: none;
    background-color:gray;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5%;
}
.Chicken{
    padding-left:15%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    
}
.Chicken img{
    border-radius: 70px;
    height:150px;
    width:150px;
}
.Chicken hr{
    height: 1px;
    border: none;
    background-color:gray;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5%;
}
.side5{
    display: flex;
    flex-direction: row;

}
.idly{
    padding-left:5%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    
}

.idly img{
    border-radius: 70px;
    height:150px;
    width:150px;
}
.idly hr{
    height: 1px;
    border: none;
    background-color:gray;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5%;
}
.Prawn{
    padding-left:15%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    
}
.Prawn img{
    border-radius: 70px;
    height:150px;
    width:150px;
}
.Prawn hr{
    height: 1px;
    border: none;
    background-color:gray;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5%;
}
.side6{
    display: flex;
    flex-direction: row;

}
.vada{
    padding-left:5%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    
}

.vada img{
    border-radius: 70px;
    height:150px;
    width:150px;
}
.vada hr{
    height: 1px;
    border: none;
    background-color:gray;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5%;
}
.Biryani{
    padding-left:15%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    
}
.Biryani img{
    border-radius: 70px;
    height:150px;
    width:150px;
}
.Biryani hr{
    height: 1px;
    border: none;
    background-color:gray;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5%;
}
.click{
    padding-bottom: 5vh;
     padding-top: 5vh;
     text-align: center;
 }
 .click button{
     background-color: orange;
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     font-size: 16px;
     margin: 4px 2px;
     border-radius:10px;
 }
 